/*********************************************
* Monobook Design by Fereal
* http://monobook.wikidot.com/
* Customized by Jochen Römling
* for johnroderick.wikidot.com
*********************************************/

/***** GLOBAL HYPERLINKS *****/
a{
    color: #142bb8;
    text-decoration: underline;
}

a:visited {
    color: #5a3696;
}

a .newpage{
    color: #772233;
}

/***** HEADER AREA *****/
#header{
    height: 26px;
}

#login-status{
    top: 4px;
}

#account-options{
    font-size: 80%;
}

#page-title{
    font-size: 180%;
}

/***** HIDE SOME DEFAULT STUFF WE DON'T NEED *****/

#header h2, #header h1 a span{
    display: none;
}

#search-top-box{
    display: none;
}

#breadcrumbs{
    display: none;
}

/***** TOP MENU (main, discuss, edit this page...) *****/

#top-bar{
    left: 163px;
    right:auto;
    font-size: 85%;
    margin-bottom: -1px;
    font-family:sans-serif;
    text-transform: lowercase;
}

#top-bar ul a{
    border: 1px solid #aaa; 
    background-color: #FCFCFC;
}

#top-bar ul strong a{
    border: 1px solid #fabd23;
    border-bottom:1px solid white;
}

#top-bar ul li:hover a{
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid white;
}

/***** SIDE BAR *****/
#side-bar{
    width:   148px;
    padding: 125px 0 0 4px;
    /* Main Wiki Logo */
    background-image:      url(john-roderick-jade-gordon.jpg);
    background-repeat:     no-repeat;
	background-position-y: top;
    background-position-x: 2px;
    background-size:       150px 112px;
    background-color:      transparent;
}

#side-bar h1{
    /* captions over each box */
    font-size: 100%;
    margin: -0.3em 0 -1em 8px;
    text-transform: lowercase;
    border-bottom: 0px;
}

#side-bar p, #side-bar ul{
    margin-left: 0;
    font-size: 85%;
    font-family: sans-serif;
    background-color: #ffffff;
    padding: 4px 4px 4px 6px;
    border: 1px solid #aaa;
    line-height: 19px;
}

#side-bar ul{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 8px;
}

#side-bar ul li{
    background-position: left top;
    background-repeat: no-repeat;
    list-style-type: none;
}

/***** SEARCH BOX *****/

#side-bar .search-box{
    font-size: 0.82em;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 6px 3px  6px 3px;
    margin-top: 11px;
    margin-bottom: 11px;
}

#side-bar .search-box .search-results,
#side-bar .search-box .pager{
    display: none;
}

#side-bar .search-box #search-form .text{
    width: 122px;
}

#side-bar .search-box #search-form .button{
    position: relative;
    top: 2px;
}

#side-bar .search-box .query-area,
#side-bar .search-box .query-area #search-form div{
    margin: 0;
    padding: 0;
    border: none;
}

/***** MAIN CONTENT *****/
#container{
    background-color: #f9f9f9;
    font: sans-serif;
}

#main-content{
    border: 1px solid #aaa;
    border-right: none;
    background-color: #fff;
    margin-left: 156px;
    font-family: sans-serif;
}   

/***** GLOBAL HEADERS *****/
h1{
    border-bottom: 1px solid silver;
    padding-bottom: 3px;
    margin: 0 0 0 0;
    font-family: sans-serif;
    font-size: 140%;
}

h2{
    font-family: sans-serif;
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 5px;
}

/***** PAGE CONTENT *****/
#page-content{
    line-height: 150%;
}

#page-content p{
}

#page-content ul{
    padding-left:5px;
}

#page-content ul li {
    background-image: url("monobullet.png");
    background-position: left top;
    background-repeat: no-repeat;
    list-style-type: none;
    margin-left: 5px;
    padding-left: 10px;
}

#page-content .wd-editor-toolbar-panel ul li{
    padding-left: 0;
}

#page-content .wd-editor-toolbar-panel ul{
    padding-left: 0;
    margin: 0;
}

#page-content .code{
    font-size: 85%;
}

#new-thread-form ul{
    padding-left: 0;
    list-style-image:none;
    list-style-type:none;
}

/***** FOOTER *****/
#footer, #license-area{
    background-color: #fff;
    font-size: 85%;
}

#footer{
    border-top: 1px solid #fabd23;
    padding-top: 8px;
    padding-bottom: 5px;
}

#license-area{
    padding-bottom: 8px;
    border-bottom: 1px solid #fabd23;
    margin-bottom: 5px;
}

/***** PAGE OPTIONS *****/
.page-options-bottom a{
    font-size: 90%;
}

/***** TABLE OF CONTENTS *****/
#toc{
    border: 1px solid gray;
}

#toc-action-bar {
display:none;
}

#toc .title {
    font-weight: bold;
    margin: 0.2em 0;
    padding-top: 1em; 
    padding-left: 1em;
    text-align: left;
}

/***** WIKIDOT EDITOR *****/
#edit-page-textarea{
    font-size: 80%;
    height: 500px;
}

/***** MISC *****/
.image-container{
    padding:0;
}

.page-watch-options{
    display:none;
}

/***** Mobile design *****/

@media only screen and (max-width: 600px) {
  #container {
    background-color: white;
  }
}